<h1>zBikeGarage</h1>

<p>
  <%= link_to 'Bikes', bikes_path %>
</p>
<p>
  <%= link_to 'Rides', rides_path %>
</p>

<% if user_signed_in? %>
  <p>
    <%= form_with url: destroy_user_session_path, method: :delete do |form| %>
      <%= form.submit 'Log out' %>
    <% end %>
  </p>
<% end %>



