<p>Welcome to zBikeGarage!</p>
<p>zBikeGarage is an inventory management system for all your bikes.</p>
<p>Start by creating an account and adding bikes to your garage.</p>
<p>Once you have your bikes in your garage, you can add components and rides to your bike.</p>
<p>Automated service reminders will be sent to you when your bike is due for service.</p>
<p>zBikeGarage is a work in progress.</p>
<p>Thanks for using zBikeGarage!</p>