<h2>Service Videos</h2>
<ul>
  <li><a href="https://www.youtube.com/watch?v=q5ttvg9PgkU" target="_blank">Suspension Service</a></li>
  <li><a href="https://www.youtube.com/watch?v=EcKnAnZWkHo" target="_blank">Brake Service</a></li>
  <li><a href="https://www.youtube.com/watch?v=MFOng1UXn-g" target="_blank">Wheel Service</a></li>
  <li><a href="https://www.youtube.com/watch?v=O0YibMDWBAw" target="_blank">Chain Service</a></li>
  <li><a href="https://www.youtube.com/watch?v=UkZxPIZ1ngY" target="_blank">Shifter Service</a></li>
  <li><a href="https://www.youtube.com/watch?v=kkL1vze6M4A" target="_blank">Derailleur Service</a></li>
</ul>
  <a href="https://www.google.com/maps/search/bike+shops/@{zip code},10z" target="_blank" style="font-weight: bold; color: black; font-size: 18px;">Find Local Bike Shops</a>
  <a href="https://www.bikeforums.net/bicycle-mechanics/" target="_blank" style="font-weight: bold; color: black; font-size: 18px;">Bike Forums</a>
  <a href="https://www.parktool.com/blog/repair-help" target="_blank" style="font-weight: bold; color: black; font-size: 18px;">Park Tool Repair Help</a>
  <a href="https://www.trailforks.com/" target="_blank" style="font-weight: bold; color: black; font-size: 18px;">Find Trails</a>
  <br>
  <div style="text-align: center;">
  <a href="https://www.parktool.com/en-us/" target="_blank">
    <img src="<%= asset_path('parktool.png') %>" style="width: 50%;">
  </a>
  </div>
  <br>
  <div style="text-align: center;">
  <a href="https://www.maxxis.com/us/tires/bicycle/" target="_blank">
    <img src="<%= asset_path('maxxis.png') %>" style="width: 50%;">
  </a>
  </div>
